img{
    width: 100%;
    height: auto;
}

.opcion:hover{
    color: blue;
    cursor: pointer;
}

.javascript-file{
    padding-top: 10%;
}

.javascript-file{
    color: white;
}

.bloque-titulo{
    text-align: center;
}

.titulo-seleccionado{
    color: white;
}

.bloque-ideas{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.idea{
    display: flex;
    flex-direction: column;
}

.seccion-numero-idea{
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
}

.numero-idea{
    color: rgb(240, 42, 230);
}

.seccion-estructura-idea{
    display: flex;
    flex-direction: row;
    /*align-items: center;
    justify-content: center;*/
    gap: 19%;
    padding-left: 10%;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
}

.estructura-idea{
    color: sandybrown;
}

.seccion-idea-especifica{
    display: flex;
    flex-direction: row;
    /*align-items: center;
    justify-content: center;*/
    gap: 25%;
    padding-left: 13%;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;
}

.idea-especifica{
    color: aliceblue;
}

/*-----------Estilo Storyboards----------*/
.bloque-bocetos{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 5%;
}

.boceto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nombre-storyboard{
    color: rgb(188, 121, 252);
}

.bloque-dos-imagenes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bloque-imagen-G{
    width: 60%;
    height: 60%;
    border-style: dotted;
    border-color: rgb(235, 135, 54);
}

.bloque-imagen{
    width: 80%;
    height: 60%;
    border-style: dotted;
    border-color: rgb(235, 135, 54);
}


/*-----------Estilo Elementos formales----------*/
.bloque-ef{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 5%;
}

.bloque-imagen-ef{
    width: 100%;
    height: 60%;
    border-style: double;
    border-color: rgb(235, 54, 211);
}

.puntos-clave{
    display: flex;
    flex-direction: column;
}
.linea{
    display: flex;
    flex-direction: row;
}

#Videos {
    display: none;
}

#Prototipo {
    display: none;
}

.choosed-game-style {
    padding: 1rem;
    width: 40vw;
    min-width: 40%;
}

.inspiracion-portada {
    width: 20rem;
}

a span.doc-link {
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

a.doc-link:hover {
    color: #b6b6b6;
}

a span.doc-link, a.doc-link {
    color: wheat;
    font-size: 1rem !important;
    transition: color 400ms ease;
}