.video-text:after {
    left: 0px !important;
}

.video-tutorial-section {
    height: 30rem;
    position: relative;
}

.video-tutorial-play-btn {
    position: absolute;
    left: calc(50% - 61px);
    top: calc(50% - 61px);
    width: 7rem;
    height: 7rem;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.16);

    transition: width 400ms ease, height 400ms ease, left 400ms ease-in, top 400ms ease-in;
}

.video-tutorial-play-btn:hover {
    left: calc(50% - 65px);
    top: calc(50% - 65px);
    width: 8rem;
    height: 8rem;
}